
body{
    margin: 1em;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
nav, nav ul, .search-bar{
    display: flex;
    align-items: center;
}
nav{
    justify-content: space-between;
    position: relative;
}

nav ul {
    flex-direction: row;
}
nav ul li{
    list-style: none;
    margin: 0 50px;
}
nav ul li:hover,img, button{
    cursor: pointer;
}
.oculto{
    display: none;
}
.buscador-ampliado{
    width: 100%;
    height: 300px;
    background-color: white;
    position: absolute;
    display: flex;
    place-content: center;
    align-items: center;
}
.closeBuscador{
    margin: 0 15px;
}
.closeBuscador:hover{
    cursor: pointer;
}
.buscador_principal{
    width: 700px;
    border: none;
    border-radius: 25px;
    background-color: rgb(242 242 242);
    color: black;
    padding: 0 15px;
    height: 50px ;
}
.buscador_principal:focus{
    outline: blue;
}
.search-bar{
    justify-content: center;
    gap: 10px;
}
.buscador{
    border: none;
    border-radius: 25px;
    background-color: rgb(242 242 242);
    color: black;
    padding: 0 15px;
    height: 25px ;
}
input:focus{
    outline: 1px blue;
}
.user{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: white;
    position: absolute;
    right: 15px;
    top: 80px;
    box-shadow: 3px 1px 5px 1px rgb(242 242 242);
}
section{
    width: 100%;
    height: 500px;
}
.movie-carrousel{
    background-size: cover;      
    background-position: center;   
    background-repeat: no-repeat;
    min-height: 100vh; 
    position: inherit;
    color: white;
}
.movie-carrousel-description{
    position: absolute;
    right: 20em;
    bottom: 10em;
    
}
.movie-carrousel-description p{
    font-size: 24px;
    font-weight: bold;

}
.movie-carrousel-description h1{
    font-size: 36px;
    font-weight: bolder;
    
}